body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.navbar {
    background-color: white;
    /* overflow: hidden; */
    padding: 15px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 15px;
    font-weight: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #646464;
}

.login-container {
    display: flex;
    align-items: center;
    margin-left: 800px;
    padding-left: 70px;

}

h2 {
    margin-left: 20px;
    /* Adjust the margin for the desired shift */
    font-size: 15px;
    font-weight: normal;
    /* Remove bold */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #646464;
    transition: color 0.3s;
    /* Smooth transition for hover effect */
}

h2:hover {
    color: #000;
    /* Black color on hover */
}



/* ... Your existing styles ... */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: white;
    color: #333;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.logo img {
    width: 200px;
}

h3 {
    color: #646464;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 300;
    padding-top: 40px;
    padding-left: 70px;

}

p {
    color: #646464;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-left: 70px;
    border-radius: 0;
    outline: none;
    width: 40%;

}

.internal {
    float: right;
    margin-top: 10px;
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.internal:hover {
    color: #00893d;
    transition: .2s ease-out;
}

h4 {
    color: #646464;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: left;

}

form {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    margin-bottom: 20px;

}

.login-input {
    width: calc(100% - 2px);
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: transparent;
    outline: none;
}

.form-group {
    margin-bottom: 15px;
    color: #757575;
    width: 20%;
}

label {
    display: block;
    /* font-weight: bold; */
    /* margin-bottom: 5px; */
    margin-top: 10px;
}

.login-input:focus::placeholder {
    transform: translateY(-10px);
    transition: transform 0.2s ease-out;
    color: #757575;
}

.checkbox-container {
    display: flex;
    align-items: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #646464;
    text-align: left;
    margin-left: 70px;
}

.custom-checkbox {
    margin-right: 5px;
    /* Add any specific styles for the checkbox */
}

.checkbox-container label {
    margin-bottom: 0;
}

.green-button {
    font-size: 16px;
    background-color: #00893d;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    line-height: 1.25;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    text-decoration: none;
    /* Add this line to remove underline */
}

.green-button:hover {
    background-color: #006628;
    color: #f9f9f9;
    transition: .2s ease-out;
}






.switch-form {
    margin-top: 10px;

}

.switch-form a {
    color: #00893d;
    text-decoration: none;
    font-weight: 300;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* border-bottom: 1px solid #ccc; */


}

button:hover,
.switch-form a:hover {
    color: #00893D;
    transition: .2s ease-out;

}

#image-container {
    position: fixed;
    top: 300px;
    /* Adjust the top position */
    left: 900px;
    /* Adjust the right position */
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    /* background: rgba(255, 255, 255, 0.8); Adding a background for better visibility */
    border-radius: 5px;
    /* Adding some rounded corners */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); Adding a subtle shadow */
}

#image-container img {
    max-width: 80%;
    /* Adjust the width as needed */
    height: auto;
}